*{
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #ddd;
  }
  
  img {
      width: 100%;
      max-height: 400px;
      align-self: center;
  }

  /* Header/logo Title */
  .header {
    padding: 180px;
    text-align: center;
    background: url(images/banner.png) 50% 0% no-repeat;
    color: white;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 60pt;
  }
  
  /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
  .navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 16pt;
  }
  
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Active/current link */
  .navbar a.active {
    background-color: #666;
    color: white;
  }
  
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    background-color: #252525;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 10%; /* IE10 */
    flex: 10%;
    background-color: #252525;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 60px;
    align-self: flex-start;
    position: sticky;
    position: -webkit-sticky;
    top: 30px;
    font-size: 14pt;
  }
  
  .side h3 {
    color: #e8e8e8;
    font-size: 20pt;
  }

  .side a {
    color: #f0e7d5;
  }

  .side a:hover {
    color: #e8e8e8;
  }

  /* Main column */
  .main {   
    -ms-flex: 90%; /* IE10 */
    flex: 90%;
    overflow: auto;
    background-color: #252525;
    color: #f0e7d5;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 150px;
    padding-bottom: 100px;
  }

  .main h1{
      color: #e8e8e8;
      font-size: 50pt;
  }

  .main h2{
    color: #e8e8e8;
    font-size: 35pt;
  }

  .main h3{
    color: #e8e8e8;
    font-size: 25pt;
  }

  .main h3 a {
      color: #e8e8e8;
  }

  .main h3 a:hover {
      color: #f0e7d5;
  }

  .main a {
      color: #f0e7d5;
  }

  .main a:hover {
      color: #e8e8e8;
  }
  
  .YoutubeLink:before {
    content: url(images/icons8-play-button-48.png);
    position: relative;
    top: 10px;
    padding-right: 20px;
  }

  .TwitchLink:before {
    content: url(images/icons8-twitch-48.png);
    position: relative;
    top: 10px;
    padding-right: 20px;
  }

  .DiscordLink:before {
    content: url(images/icons8-discord-new-logo-48.png);
    position: relative;
    top: 10px;
    padding-right: 20px;
  }
  
  /* Footer */
  .footer {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    background-color: #f1f1f1;
    font-size: large;
  }

  .footer a {
      color: #252525;
  }

  .footer a:hover {
      color: #525252
  }

  .left {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    padding: 20px;
    text-align: left;
  }
  

  .right {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    padding: 20px;
    text-align: right;
  }

  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
    .side {
      width: 100%;
      position: relative;
    }
    .main {
      padding-right: 20px;
      padding-left: 20px
    }
    .navbar {
      position: relative;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }