* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  max-width: 160vh;
  margin: auto;
}

body {
  font-family: "Poppins", sans-serif;
}
button {
  font-family: "Poppins", sans-serif;
}
header {
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-template-areas:
    "header header header"
    "navbar navbar menu";
  width: 90%;
  height: 30vh;
  margin: auto;
  align-items: center;
}

.logo-container,
.nav-links,
.menu {
  display: flex;
  flex: 1;
}

.logo-container {
  grid-area: header;
  height: 100%;
  background-color: aquamarine;
  justify-items: center;
  justify-content: center;
}
.logo {
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0px 5px;
  transform: translate(0px, 46%);
}
.menu {
  grid-area: menu;
  justify-content: flex-end;
  justify-items: end;
}
.menu svg {
  width: 3.5vh;
  height: auto;
}
.menu svg:hover {
  width: 4vh;
  height: auto;
  margin-left: -0.5vh;
  transition: 0.2s;
}
nav {
  grid-area: navbar;
}
.nav-links {
  justify-content: space-around;
  list-style: none;
  display: flex;
}
.nav-link {
  color: #5f5f79;
  position: relative;
  text-decoration: none;
  font-size: 18px;
}
.nav-link::before {
  content: "";
  width: 0vh;
  height: 3px;
  background: rgb(44, 44, 44);
  position: absolute;
  top: 110%;
  left: -50%;
  transition: 0.5s;
}
.nav-link::after {
  content: "";
  width: 0vh;
  height: 3px;
  background: rgb(44, 44, 44);
  position: absolute;
  top: -20%;
  left: -50%;
  transition: 0.5s;
}
.nav-link:hover::before,
.nav-link:hover::after {
  width: 200%;
}
main {
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: 90%;
  margin: auto;
  padding-top: 20px;
}
.articles {
  grid-column: 1 / 2;
  padding-right: 10vh;
}
.articles h2 {
  font-size: 4.2rem;
  margin: 3vh 0vh 3vh 0vh;
}
.articles h3 {
  font-size: 2.8rem;
  margin: 2vh 0vh 1vh 0vh;
}
.articles p {
  font-size: 1.5rem;
  margin: 1vh 0vh;
}
.articles a {
  color: black;
}
.articles a:hover {
  color: rgb(83, 83, 83);
}
.articles ul {
  font-size: 1.5rem;
  margin: 1vh 2vh;
}
.articles rt {
  font-size: 0.9rem;
}
.side-bar {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.video-box {
  outline: black solid 2px;
  padding: 10vh 0px;
  margin: 1vh 0vh;
  text-align: center;
}
.recommended-article h2,
.recent-article h2 {
  padding-left: 1vh;
  font-weight: bold;
  text-decoration: underline;
}
.recommended-article p,
.recent-article p {
  outline: black solid 2px;
  padding: 15vh 0px;
  margin-top: 1vh;
  text-align: center;
  width: 90%;
}

footer {
  width: 90%;
  display: flex;
  margin: auto;
  padding: 5vh 0vh;
  justify-content: space-between;
}
