* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  max-width: 1820px;
  margin: auto;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
button {
  font-family: "Poppins", sans-serif;
}
header {
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-template-areas:
    "header header header"
    "navbar navbar menu";
  width: 90%;
  height: 400px;
  margin: auto;
  align-items: center;
}

.logo-container,
.nav-links,
.menu {
  display: flex;
  flex: 1;
}

.banner-img {
  position: absolute;
}
.logo-container {
  grid-area: header;
  height: 100%;
  justify-items: center;
  justify-content: center;
}
.logo {
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0px 5px;
  transform: translate(0px, 46%);
}
.menu {
  grid-area: menu;
  justify-content: flex-end;
  justify-items: end;
}
.menu svg {
  width: 3.5vh;
  height: auto;
}
.menu svg:hover {
  width: 4vh;
  height: auto;
  margin-left: -0.5vh;
  transition: 0.2s;
}
nav {
  grid-area: navbar;
  position: sticky;
}
.nav-links {
  justify-content: space-between;
  list-style: none;
  display: flex;
}
.nav-link {
  color: #5f5f79;
  position: relative;
  text-decoration: none;
  font-size: 30pt;
  margin: 0px 45px
}
.nav-link::before {
  content: "";
  width: 0px;
  height: 3px;
  background: white;
  position: absolute;
  top: 110%;
  left: -50%;
  transition: 0.5s;
}
.nav-link::after {
  content: "";
  width: 0px;
  height: 3px;
  background: white;
  position: absolute;
  top: -20%;
  left: -50%;
  transition: 0.5s;
}
.nav-link:hover::before,
.nav-link:hover::after {
  width: 200%;
  background: #273471; 
}
.nav-link:hover {
  color: black;
}
main {
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: 90%;
  margin: auto;
  background: white;
  padding: 20px 0px;
}
.articles {
  grid-column: 1 / 2;
  padding-right: 10vh;
}
.articles h1 {
  font-size: 5rem;
  font-weight: bolder;
  margin: 10px 0px 20px 0px;
}
.articles h2 {
  font-size: 4.2rem;
  margin: 30px 0px 10px 0px;
}
.articles h3 {
  font-size: 2.8rem;
  margin: 30px 0px 10px 0px;
}
.articles h4 {
  font-size: 2.4rem;
  margin: 0vh 0vh 1vh 0vh;
}
.articles h5 {
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0px 0px 20px 0px;
}
.articles p {
  font-size: 1.7rem;
  margin: 1vh 0vh;
}
.articles a {
  color: black;
}
.articles a:hover {
  color: rgb(83, 83, 83);
}
.articles ul {
  font-size: 1.7rem;
  margin: 1vh 2vh;
}
.articles rt {
  font-size: 1rem;
}
.img-box {
  width: 90%;
  overflow: hidden;
  margin: 10px 0px;
}
.articles .article-img { 
  width: 90%;
  transition: transform .5s ease;
}
.articles .article-img:hover {
  transform: scale(1.05);
}


.about-section .members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.member {
  width: 45%;
  padding: 2vh 0vh;
}
.member p {
  font-size: 1.5rem;
}
.profile-pic {
  float: left;
  width: 15vh;
  height: auto;
  margin: 1vh;
}
.social-link {
  text-decoration: none;
}
.socials {
  display: flex;
  flex-direction: column;
}
.vid-embed {
  width: 400px;
  height: 220px;
  float: left;
  padding-right: 2vh;
}
.latestVideoEmbed {
  width: 400px;
  height: 220px;
  float: left;
  padding-right: 2vh;
}
.sidebar-latestVideoEmbed {
  width: 100%;
  height: 200px;
}

.recent-yt-videos {
  width: 100%;
  align-content: left;
}
.recent-yt-videos .latestVideoEmbed {
  width: 650px;
  height: 420px;
  padding: 2vh 0vh;
}

.side-bar {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.side-bar h2 {
  font-size: 1.8rem;
}
.video-box {
  align-content: left;
  padding: 2vh 0vh;
}
.discord-embed {
  padding: 2vh 0vh;
}

footer {
  width: 90%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "top-left right"
    "bottom-left right";
  align-items: left;
  margin: auto;
  padding: 20px 20px 10px 20px;
  justify-content: space-between;
  background: rgb(230, 230, 230);
}
footer ul {
  list-style: none;
  grid-area: right;
}
footer li {
  padding: 5px 0px;
}
footer p {
  grid-area: top-left;
  font-size: 1.2rem;
}
footer a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}
footer a:hover {
  color: rgb(83, 83, 83);
}
.footer-twitter::before {
  content: url(img/icons8-twitter.svg);
  position: relative;
  top: 7px;
  padding: 5px;
}
.footer-youtube::before {
  content: url(img/icons8-play-button.svg);
  position: relative;
  top: 7px;
  padding: 5px;
}
.footer-twitch::before {
  content: url(img/icons8-twitch.svg);
  position: relative;
  top: 7px;
  padding: 5px;
}
.footer-comment {
  grid-area: bottom-left;
  padding: 30px 0px 0px 0px;
}
